.container{
    height: 400px;
    width: 300px;
    background-color: antiquewhite;
    border: orange solid 2px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    margin: 200px 0px 0px 500px;
    align-items: center;
    justify-content: space-around;
    box-shadow: 10px 10px 20px orange;
}
.s2{
    background-color: antiquewhite;
    border: none;
    border-bottom: solid orange 2px;
    outline: none;
}
.bt{
    height: 30px;
    width: 170px;
    background-color: orange;
    border: white 2px solid ;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    transition: 0.4s ease;
}
.bt:hover{
    height: 35px;
    width: 200px;
    background-color: white;
    border: orange solid 2px;
    box-shadow:5px 5px 20px orange;
    font-color:orange;
}
